main{
     
    background-color: black;
    video{
        max-width: 100%;
        width: 100%;
    }
    .metaversetextright{
        h1{
            text-align: end;
            margin-top: 90px;
            padding-right: 50px;
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            font-weight: bold;
            font-size: 55px;
        }
        h2{
            text-align: end;
            padding-right: 50px;
            font-weight: 500;
            font-size: 40px;
            color: #FF47FF;
        }
        img{
            padding-right: 50px;
        }
        p{
            padding-top: 20px;
            color: white;
            padding-right: 50px;
            text-align: end;
        }
    }
    .criptonotebooktext{
        h1{
            text-align: start;
            margin-top: 90px;
            padding-left: 50px;
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            font-weight: bold;
            font-size: 55px;
        }
        h2{
            text-align: start;
            padding-left: 50px;
            font-weight: 500;
            font-size: 40px;
            color: #FF47FF;
        }
        p{
            padding-top: 20px;
            color: white;
            padding-left: 50px;
            text-align: start;
        }
    }
    .criptonotebookimg{
        img{
            max-width: 102%;
            
        }
    }
    .blokpartcenter{
        background-color: rgba(49, 49, 49, 0.3);
        width: 50%;
        border: solid 1px black;
        margin-top: 150px;
        text-align: center;
        h1{
            color: white;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bold;
            margin-top: 20px;
        }
        h3{
           color:#FF47FF;
           font-size: 40px;
        }
        p{
            color: white;
            font-family: 'Josefin Sans', sans-serif;
        }
    }
    .whatismetaverse{
        margin-top: 150px;
        img{
            max-width: 45%;
            max-height: 85%;
        }
        h1{
            text-align: end;
            margin-top: 10px;
            padding-right: 50px;
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            font-weight: bold;
            font-size: 55px;
        }
        h3{
            text-align: end;
            padding-right: 50px;
            font-weight: 500;
            font-size: 40px;
            color: #FF47FF;
        }
        p{
            padding-top: 20px;
            color: white;
            padding-right: 50px;
            text-align: end;
        }
    }
    #learnpart{
        text-align: center;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        img{
            max-width: 100%;
            margin-bottom: 20px;
        } 
        .learnimg{
            margin-top: 50px;
            img{
                max-width: 100%;
                width:40%;
            }
        }
    }
    #earnpart{
        text-align: center;
        color: black;
        font-family: 'Josefin Sans', sans-serif;
        img{
            max-width: 100%;
            margin-bottom: 20px;
        }
        .earnimg{
            margin-top: 50px;
            img{
                max-width: 100%;
                width:40%;
            }
        }
    }
    #playpart{
        text-align: center;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        img{
            max-width: 100%;
            margin-bottom: 20px;
        }
        .playimg{
            margin-top: 50px;
            img{
                max-width: 100%;
                width:40%;
            }
        }
    }
    #createpart{
        text-align: center;
        color: black;
        font-family: 'Josefin Sans', sans-serif;
        img{
            max-width: 100%;
            margin-bottom: 20px;
        }
        .createimg{
            margin-top: 50px;
            img{
                max-width: 100%;
                width:40%;
            }
        }
    }
    #opportunities{
        padding-top: 150px;
        padding-bottom: 150px;
        .h1text{
            border: solid 1px black;
            width: 50%;
            box-shadow: 0 0 10px 10px #FF47FF;
            h3{
                font-family: 'Mochiy Pop P One', sans-serif;
                padding: 15px 20px 10px 20px;
                text-align: center;
                color: #FF47FF;
            }
        }
    }
    #blocks{
        text-align: center;
        h1{
            color: white;
            font-weight: bold;
        }
        h3{
            color: #FF47FF;
        }
        p{
            color: #FF47FF;
        }
        #blocktext{
            color: white;
        }

        #tokenlook{
            padding-top: 200px;
            padding-bottom: 200px;
            text-align: center;
            p{
                color: white;
            }
        }
    }
    #tokenutility{
        background-color:#FF47FF ;
        img{
            max-width: 100%;
            width: 50%;
        }
        .bloklist{
            img{
                max-width: 100%;
                width: 45%;
            }
            p{
                padding-top: 50px;
            }
            .col-md-3{
                padding-top: 35px;
            }
        }
    }
    #upscroll{
        display: none;
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        border: solid 1px white;
        border-radius: 50%;
        background-color: #FF47FF;
        border: none;
        outline: none;
        cursor: pointer;
    }
}