@media  screen and (max-width: 968px) {
    header{
        nav{
            span{
                img{
                     
                    width: 100%;
                }
            }
        }
    }
    main{
        .metaversetextright{ 
            h1{
                font-size: 25px;
            }
            h2{
                font-size: 35px;       
            }  
        }
        .criptonotebooktext{
            h1{
                font-size: 25px;
            }
            h2{
                font-size: 35px;
            }
        }
        #whatismetaverse{
            h1{
                font-size: 25px;
            }
        }
        .h1text{
            border: solid 1px black;
            width: 50%;
            box-shadow: 0 0 10px 10px #FF47FF;
            h3{
                font-family: 'Mochiy Pop P One', sans-serif;
                padding: 15px 20px 10px 20px;
                text-align: center;
                font-size: 13px;
                color: #FF47FF;
            }
        }
        .blokpartcenter{
            h1{
                font-size: 24px;
            }
        }
        .bloklist{
            p{
                text-align: center;
            }
        }
    }
     
}
@media only screen  and(max-width:768px){
    header{
        
    }
}