nav{
    background-color: black;
    .logo{
        img{
            max-width: 100%;
            width: 50%;
        }
    }
    span{
        img{
            max-width: 100%;
            width: 70%;
        }
    }
    .navbarmm{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .buttons{
        a{
            border: solid 1px white;
            background-color: white;
            transition: 0.5s;
            border-radius: 15px;
            padding: 8px 5px 8px 5px;
            color: black;
            text-decoration: none;
        }
        a:hover{
           background-color: #FF47FF;
           border-color: #FF47FF;
           padding: 10px 7px 10px 7px;
           transition: 0.5s;
        }
    }
}